:root {
  /* color for page */
  --color-for-body: #ffffff;
  --color-for-hedear: #2e2f42;
  --color-for-bc: #2e2f42;
  --color-for-hero-text: #ffffff;
  --color-for-tex-contact: #434455;
  --color-for-logo: #4d5ae5;
  --color-for-btn-text: #4d5ae5;
  --color-for-btn-secondary: #f4f4fd;
  --color-for-btn-text-hover: #4d5ae5;
  --color-for-btn-text-hero: #4d5ae5;
  --color-for-btn-hov-foc-hero: #404bbf;
  --color-for-footer-head: #f4f4fd;
  --color-for-footer-text: #e7e9fc;
  --color-for-border-costamers: #8e8f99;
  --color-for-footer-icon-bc: rgba(255, 255, 255, 0.1);
  --color-for-footer-icon-hover: #31d0aa;
  --color-for-btn-close: #000000;
  /* fonts */
  --logo-font: Raleway, sans-serif;
  --text-font: Roboto, sans-serif;
  /* size between card*/
  --card-between-gab: 24px;
  --card-between-gab-bottom: 48px;
  /* time animation */
  --animetion-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* reset standart style */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.container {
  max-width: 480px;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
  }
}
.header {
  position: relative;
  max-width: 1440px;
  border-bottom: 1px solid #E7E9FC;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  padding-top: 24px;
  padding-bottom: 24px;
}
.logo-dark {
  color: #4D5AE5;
}
.logo:hover, .logo:focus {
  color: #4D5AE5;
}

.burger-menu {
  background-color: transparent;
  margin: 0;
  padding: 0;
  z-index: 10;
}
@media screen and (min-width: 768px) {
  .burger-menu {
    display: none;
  }
}

.burger-menu.is-open .menu-open {
  display: none;
}

.burger-menu .menu-close {
  display: none;
}

.burger-menu.is-open .menu-close {
  display: block;
}

.container-menu {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
  background: #FFFFFF;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.container-menu.is-open {
  display: block;
}
@media screen and (min-width: 768px) {
  .container-menu {
    position: relative;
    box-shadow: none;
    display: flex;
  }
}

.items-nav {
  margin-top: 80px;
  margin-left: 40px;
}
@media screen and (min-width: 768px) {
  .items-nav {
    display: flex;
    margin: 0;
  }
}

.list-nav {
  margin-bottom: 40px;
}

.list-nav:last-child {
  margin-bottom: 284px;
}

.link-nav {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1111111111;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2E2F42;
}
@media screen and (min-width: 768px) {
  .link-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
.link-nav:hover, .link-nav:focus {
  color: #404BBF;
}

.items-contact {
  display: flex;
  flex-flow: column-reverse;
  margin-left: 40px;
}
@media screen and (min-width: 768px) {
  .items-contact {
    flex-flow: column;
  }
}

.list-contact {
  margin-top: 40px;
  margin-bottom: 48px;
}
@media screen and (min-width: 768px) {
  .list-contact {
    margin: 0;
  }
}

.list-contact:last-child .link-contact {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.1111111111;
}
@media screen and (min-width: 768px) {
  .list-contact:last-child .link-contact {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.3333333333;
    letter-spacing: 0.04em;
  }
}

.link-contact {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
@media screen and (min-width: 768px) {
  .link-contact {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.3333333333;
    letter-spacing: 0.04em;
  }
}
.link-contact:hover, .link-contact:focus {
  color: #404BBF;
}/*# sourceMappingURL=main.css.map */