/* section team */
.bc-team {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  background-color: var(--color-for-btn-secondary);
  text-align: center;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team {@include fn-logo-head-text ($f-w: 700, $f-s: 36px, $l-h: 40px, $l-s: 0.02em);
  text-align: center;
  text-transform: capitalize;
  color: var(--color-for-hedear);
  margin-bottom: 72px;
}

.team-item{
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  @include tablet-only {
      row-gap: 64px;
}
@include mobile-only{
  row-gap: 72px;
}
}

.team-list {
  background: var(--color-for-body);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}



.group-elements {
  padding-top: 32px;
  padding-bottom: 32px;
}

.name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-for-hedear);
}