.header{
  position: relative;
  max-width: 1440px;
  border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.nav{
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
 @include fn-logo-head-text;
 font-family: 'Raleway', sans-serif;
 text-transform: uppercase;
 padding-top: 24px;
 padding-bottom: 24px;
 &-dark{
  color:#4D5AE5;;
 }
 &:hover,&:focus{
  color: #4D5AE5;;
 }
}
// меню бургер з js
.burger-menu{
  background-color: transparent;
  margin: 0;
  padding: 0;
  z-index: 10;
  
  @media screen and (min-width:768px) {
    display: none;
    
  }
}
.burger-menu.is-open .menu-open{
  display: none;
}
.burger-menu .menu-close{
  display: none;
}
.burger-menu.is-open .menu-close{
  display: block;
}

.container-menu{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
  background: #FFFFFF;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  &.is-open{
    display: block;
    
  }
  @media screen and (min-width:768px) {
    position: relative;
    box-shadow: none;
    
  }
}