body{
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  background-color: #fff;
}
.container {
  min-width: 320px;

  padding: 0 15px;
  margin: 0 auto;
}
@include tablet {
  .container {
    width: 768px;
  }
}
@include desktop{
  .container{
    width: 1158px;
  }
}