:root {
  /* color for page */
  --color-for-body: #ffffff;
  --color-for-hedear: #2e2f42;
  --color-for-bc: #2e2f42;
  --color-for-hero-text: #ffffff;
  --color-for-tex-contact: #434455;
  --color-for-logo: #4d5ae5;
  --color-for-btn-text: #4d5ae5;
  --color-for-btn-secondary: #f4f4fd;
  --color-for-btn-text-hover: #4d5ae5;
  --color-for-btn-text-hero: #4d5ae5;
  --color-for-btn-hov-foc-hero: #404bbf;
  --color-for-footer-head: #f4f4fd;
  --color-for-footer-text: #e7e9fc;
  --color-for-border-costamers: #8e8f99;
  --color-for-footer-icon-bc: rgba(255, 255, 255, 0.1);
  --color-for-footer-icon-hover: #31d0aa;
  --color-for-btn-close: #000000;

  /* fonts */
  --logo-font: Raleway, sans-serif;
  --text-font: Roboto, sans-serif;
  /* size between card*/
  --card-between-gab: 24px;
  --card-between-gab-bottom: 48px;
  /* time animation */
  --animetion-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);}