.header{
  position: relative;
  margin: 0 auto;
  border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header .container {
  display: flex;
  align-items: center;
  @include mobile-only {
    justify-content: space-between;
  }
}
.logo{ @include fn-logo-head-text ($f-w: 800, $f-s: 18px, $l-h: 21px, $l-s: 0.03em);
  font-family: 'Raleway';
  text-transform: uppercase;
    color: #2E2F42;
    transition: color var(--animetion-transition);
    &--main{
      color: #4D5AE5;
    }
    &:hover,&:focus{
color: #4D5AE5;
    }
}
.menu {
  display: flex;
  gap: 40px;
  margin: 0 auto;
  @include mobile-only{
    display: none;
  
  }}
    @include desktop {
      .menu{
        margin-left: 72px;

      }
      
    }
    .menu .link{ 
      display: block;
      text-transform: capitalize;
    @include fn-logo-head-text ($f-w: 500, $f-s: 16px, $l-h: 24px, $l-s: 0.02em);
      color: #2E2F42;
        padding-top: 24px;
        padding-bottom: 24px;
        transition: color var(--animetion-transition);
      &:hover,&:focus{
        color: #404BBF;
      }
        }
.contacts{
  display: block;
    @include mobile-only {
      display: none;
    }
    @include desktop{
      display: flex;
      gap: 40px;
    }
  }
.contacts .link{
  @include fn-logo-head-text ($f-w: 400, $f-s: 12px, $l-h: 16px, $l-s: 0.04em);
  @include desktop{
    @include fn-logo-head-text ($f-w: 400, $f-s: 16px, $l-h: 24px, $l-s: 0.02em);
  }
  color: #434455;
  transition: color var(--animetion-transition);
  &:hover,&:focus{
    color: #404BBF;
  }
}
.mob-container{
  
}