
.items-nav--desc{
  @include mobile-only{
    display: none;
  }
  display: flex;
  gap: 40px;
  align-items: center;
  margin-left: 120px;
  @include desktop {
    margin-left: 76px;
  }
}
.items-contact--desc{
  @include mobile-only {
      display: none;
    }
  display: flex;
  flex-flow: column;
  margin-left: auto;
  @include tablet-only{
    .items-contact--desc:first-child{
      margin-bottom: 4px;
    }
  }
  @include desktop{
    flex-flow: row;
    gap: 40px;
  }
}
@include tablet {
  .link-nav--desc{
    @include fn-logo-head-text ($f-w: 500, $f-s: 16px, $l-h: 24px, $l-s: 0.02em);
    text-transform: capitalize;
    color:#2E2F42;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: var(--animetion-transition);
    &:hover,&:focus{
      color: #404BBF;
    }
  }
  .link-contact--desc{
      @include fn-logo-head-text ($f-w: 400, $f-s: 12px, $l-h: 16px, $l-s: 0.02em);
      color:#434455;
      transition: var(--animetion-transition);
      &:hover,&:focus{
        color: #404bbf;
      }
    }
}
@include desktop{
.link-contact--desc{
  @include desktop {
      @include fn-logo-head-text ($f-w: 400, $f-s: 16px, $l-h: 24px, $l-s: 0.02em);
    }
}
}