.items-nav{
  margin-top:80px ;
  margin-left: 40px;
  margin-bottom: auto;
  @media screen and (max-widht:360px) {
    margin: auto;
  }
}
.list-nav + .list-nav{
 margin-top: 40px;
@media screen and (max-widht:360px) {
    margin: auto;
  }
}
.link-nav{
  @include fn-logo-head-text ($f-w: 700, $f-s: 36px, $l-h: 40px, $l-s: 0.02em,);
  text-transform: capitalize;
  color:#2E2F42 ;
  &:hover,&:focus{
    color: #404BBF;
  }
}
//contacts
.items-contact{
  display: flex;
  flex-flow: column-reverse;
  margin-left: 40px;
  margin-bottom: 48px;
}


.list-contact + .list-contact{
  margin-bottom: 40px;
}
@include mobile-only{
.list-contact:last-child .link-contact{
    font-weight: 600;
    font-size: 36px;
    line-height: calc(40px/36px); }
}

.link-contact{
@include fn-logo-head-text ($f-w: 500, $f-s: 20px, $l-h: 24px, $l-s: 0.02em);
color: #434455;
&:hover,&:focus{
  color:#404BBF ;
}

}
.media-contact{
  display: flex;
  margin-left: 40px;
  margin-right: auto;
  margin-bottom: 40px;
  gap: 48px;
  @media screen and (max-width:360px) {
      margin: auto;
      gap:5px;
    }
}

.media-link{
  display: flex;
  border-radius: 50%;
  background-color:#4D5AE5;
  width: 40px;
  height: 40px;
  fill: #F4F4FD;
  align-items: center;
  justify-content: center;
  transition:var(--animetion-transition);
  &:hover,&:focus{
    background-color: #404BBF;
  }
}

