.footer{
background-color: var(--color-for-bc);
padding-top: 100px;
padding-bottom: 100px;}
.container.flex-footer{
  display: flex;
  flex-flow: column;
  text-align: center;
  @include tablet-only{
    text-align: start;
    flex-flow: wrap;
    width: 532px;
    row-gap: 72px;
    align-items: baseline;
  }
  @include desktop{
    flex-flow: row;
    text-align: start
  }
}
@import "./logo";
@import "./footer-media";
@import "./footer-form" ;