.footer{
max-width: 1440px;
margin: 0 auto;
background-color: var(--color-for-bc);
padding-top: 100px;
padding-bottom: 100px;}
.flex-footer{
  display: flex;
  flex-flow: column;
  text-align: center;
}
@import "./logo";
@import "./footer-media";
@import "./footer-form" ;