.section-hero{
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 112px;
    padding-bottom: 112px;
    text-align: center;
    background-color: #2E2F42;
    background-repeat: no-repeat;
    background-size: cover;
    @media screen and (max-width:767px) {
    height: 432px;
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/images-format/hero-bg.jpg);
    @include retina-bg {
      background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/images-format/hero-bg@2x.jpg);
    }
}}

@include tablet {
  .section-hero{
  height: 436px;
  background-image:linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/images-format/hero-dg-tab.jpg);
  @include retina-bg {
    background-image:linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/images-format/hero-bg-tab@2x.jpg);
  }
  }
}
@include desktop{
  .section-hero {
      height: 600px;
      background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/images-format/hero-bg-desk.jpg);
  
      @include retina-bg {
        background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/images-format/hero-bg-desk@2x.jpg);
      }
    }
  }
.hero-title{
  color: var(--color-for-body);
  text-transform: capitalize;
  @include fn-logo-head-text ($f-w: 700, $f-s: 36px, $l-h: 40px, $l-s: 0.02em);
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
  @include tablet { 
    font-size: 56px;
    line-height: calc(60/56);
    max-width: 498px  ;
    margin-bottom: 48px;
  }
}
.hero-btn{
  display: inline;
 @include all-btn($f-w: 500, $f-s: 16px, $l-h: 24px, $l-s: 0.04em, $cl-text-btn: #FFFFFF);
    padding: 16px 32px;
    text-transform: capitalize;
    background: var(--color-for-btn-text);
    color: var(--color-for-body);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;
    transition: background-color var(--animetion-transition);
    &:hover,&:focus{
      background-color:var(--color-for-btn-hov-foc-hero);
    }
}